<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Home</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style type="text/css">
      .wrapper {
        width: 300px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
      }
      
    </style>
  </head>

</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="ml-4 mr-5 navbar-brand" href="{% url 'index' %}">Share</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-4 collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'songs' %}">Song</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'images' %}">Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'music_videos' %}">Music Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stories' %}">Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'poems' %}">Poem</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item">
          <a href="{% url 'login' %}"><b>Login</b></a>
        </li>
    </ul>
</nav>
  </div>
<!--container class prevents content from filling the whole width of the screen. It provides margins.-->
<div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Project 3</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'songs' %}">Song</a></li>
              <li><a href="{% url 'images' %}">Image</a></li>
                <li><a href="{% url 'music_videos' %}">Music Video</a></li>
                <li><a href="{% url 'stories' %}">Story</a></li>
                <li><a href="{% url 'poems' %}">Poem</a></li>
              <!--  <li><a href="{% url 'search' %}">Search</a></li> -->
<!--                <li><a href="{% url 'feedbacks' %}">Feedback</a></li>-->
<!--                <li><a href="#">User</a></li>-->
<!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
-->
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
     {% block content %}{% endblock %}
    </div> <!-- /container -->
</body>
</html>



