<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Home</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <style type="text/css">
  .wrapper {
    width: 300px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .custom-select {
    width: 100px;
  }
</style>
</head>

</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="ml-4 mr-5 navbar-brand" href="{% url 'index' %}">Share</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-4 collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'songs' %}">Song</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'images' %}">Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'music_videos' %}">Music Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stories' %}">Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'poems' %}">Poem</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-5" method="POST" action="{% url 'search' %}">
      <select class="custom-select" name="type" id="type">
        <option></option>
        <option value="stories">Story</option>
        <option value="songs">Song</option>
        <option value="images">Image</option>
        <option value="music_videos">Music Videos</option>
        <option value="poems">Poems</option>
      </select>
      <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search" aria-label="Search" name="query">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="return validate()">Search</button>

    </form>
    <ul class="navbar-nav ml-auto mr-5">
      {% if request.COOKIES.auth %}
      <li class="nav-item">
        <a href="{% url 'logout' %}"><b>Logout</b></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'login' %}"><b>Login</b></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
<!--container class prevents content from filling the whole width of the screen. It provides margins.-->
<div class="container">

  {% block content %}{% endblock %}

</div> <!-- /container -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
      if(document.getElementById("search").value === "") {
          return false;
      }
  });
  function validate() {
      if(document.getElementById("search").value === "") {
          return false;
      }
  }
</script>
</body>
</html>
