{% extends "base_generic.html" %}
{% block content %}

<div class="wrapper">
  {% load crispy_forms_tags %}
  <!-- <form class="form-signin" action="/login/" method="post">
    {% csrf_token %}
      {{form}}
      <input type="submit" value="Submit" />
      <a href="{% url 'signup' %}"><p style="text-align:center">Don't have an Account? Sign up here!</a>
</form> -->
{% crispy form %}
<a href="{% url 'signup' %}"><p style="text-align:center">Don't have an Account? Sign up here!</a>
</div>
{% endblock %}
